

body {
    background-color: lightblue;

}

.font {
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: white;
}

h1 {
    color: lightcoral;
}

li {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

span {
    font-weight: bold;
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
}